apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: storefront
  namespace: __NAMESPACE__
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":80},{"HTTPS":443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/certificate-arn: __CERTIFICATE_ARN__
    alb.ingress.kubernetes.io/healthcheck-path: /health
    alb.ingress.kubernetes.io/success-codes: "200"
    alb.ingress.kubernetes.io/tags: Owner=zein,Project=Cloudbatch818,Environment=__ENVIRONMENT__,ManagedBy=terraform
    external-dns.alpha.kubernetes.io/hostname: __DOMAIN_NAME__
spec:
  ingressClassName: alb
  rules:
    - host: __DOMAIN_NAME__
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: retail-storefront
                port:
                  number: 80
